<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="isPlay">
      {{ note }} <ion-icon name="star-outline"></ion-icon>
    </ion-title>
    <ion-title *ngIf="!isPlay">
      StarPad <ion-icon name="star-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="position: relative">
  <ion-grid style="position: absolute; top: 10%; width: 100%">
    <ion-row>
      <ion-col
        *ngFor="let tone of musicalNotes"
        size="6"
        size-md="3"
        size-lg="2"
        ><ion-button
          style="height: 100%"
          color="dark"
          [fill]="getFill(tone.value)"
          expand="block"
          (click)="play(tone.value)"
          >{{ tone.label }}</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title
      ><p>{{ version }}</p></ion-title
    >
  </ion-toolbar>
</ion-footer>
